$textColor: #616b7d;
$lightGray: #a1a7b2;
$primaryBtn: #4285f4;
$fontFamily: ProximaNova, Helvetica, Arial, sans-serif;
$padding: 5px;
$margin: 10px;

@mixin flexCenter {
    display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

button {
  box-shadow: 0px 0px 20px rgba(163, 171, 185, 0.24);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-bottom: 0.8em;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

a {
  text-decoration: none;
}
::placeholder {
  padding: 4 * $padding;
  color: $lightGray;
}
input:focus {
  border-color: blue !important;
}
